@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

$color_sedans: hsl(31, 77%, 52%);
$color_suvs: hsl(184, 100%, 22%);
$color_luxury: hsl(179, 100%, 13%);
$colorText: hsla(0, 0%, 100%, 0.75);
$colorSupport: hsl(0, 0%, 95%);
$breakpoint: 1000px;

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    color: $colorText;
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    line-height: 1.7;
    position: relative;
    background: $colorSupport;

    .cards {
        width: 85%;
        max-width: 330px;
        display: grid;
        margin: 40px 0 80px;

        .card {
            padding: 50px;
            display: grid;
            grid-template-rows: auto auto 1fr auto;

            &:before {
                content: "";
                display: block;
                height: 40px;
                margin-bottom: 40px;
                background-repeat: no-repeat;
                background-position: left;
            }

            .title {
                font-family: "Big Shoulders Display", cursive;
                color: $colorSupport;
                font-size: 43px;
                text-transform: uppercase;
                line-height: 1.2;
                margin-bottom: 40px;
            }

            .presentation{
                margin-bottom: 30px;
            }

            .button {
                place-self: start;
                border-radius: 100px;
                padding: 0px 34px;
                border: solid 2px $colorSupport;
                position: relative;
                display: grid;
                place-items: center;
                height: 50px;
                overflow: hidden;
                background: transparent;
                cursor: pointer;
                user-select: none;
                transition: color .3s ease;

                > * {
                    position: relative;
                }

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100%;
                    right: 0px;
                    background: $colorSupport;
                    height: 150px;
                    border-radius: 50%;
                    transition: width .3s ease;
                }

                &:hover {
                    color: $colorSupport !important;

                    &::before {
                        width: 0;
                    }
                }
            }

            &.card:nth-child(3n-2) {
                background: $color_sedans;
                &::before{
                    background-image: url('../medias/icon-sedans.svg');
                }
                .button {
                    color: $color_sedans;
                }
            }
            &.card:nth-child(3n-1) {
                background: $color_suvs;
                &::before{
                    background-image: url('../medias/icon-suvs.svg');
                }
                .button {
                    color: $color_suvs;
                }
            }
            &.card:nth-child(3n) {
                background: $color_luxury;
                &::before{
                    background-image: url('../medias/icon-luxury.svg');
                }
                .button {
                    color: $color_luxury;
                }
            }
        }
    }

    footer{
        position: absolute;
        bottom: 20px;
        text-align: center;
        width: 100%;
        font-size: 10px;
        line-height: 1.5;
        background: transparent;
        color: black;

        a{
            text-decoration: underline;
        }
    }

    @media (min-width: $breakpoint) {
        .cards{
            max-width: 923px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}