@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
*,
::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: inherit;
  text-decoration: none;
  color: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button {
  outline: none;
}

body {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  line-height: 1.7;
  position: relative;
  background: #f2f2f2;
}

body .cards {
  width: 85%;
  max-width: 330px;
  display: -ms-grid;
  display: grid;
  margin: 40px 0 80px;
}

body .cards .card {
  padding: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto 1fr auto;
      grid-template-rows: auto auto 1fr auto;
}

body .cards .card:before {
  content: "";
  display: block;
  height: 40px;
  margin-bottom: 40px;
  background-repeat: no-repeat;
  background-position: left;
}

body .cards .card .title {
  font-family: "Big Shoulders Display", cursive;
  color: #f2f2f2;
  font-size: 43px;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 40px;
}

body .cards .card .presentation {
  margin-bottom: 30px;
}

body .cards .card .button {
  place-self: start;
  border-radius: 100px;
  padding: 0px 34px;
  border: solid 2px #f2f2f2;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 50px;
  overflow: hidden;
  background: transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

body .cards .card .button > * {
  position: relative;
}

body .cards .card .button::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  right: 0px;
  background: #f2f2f2;
  height: 150px;
  border-radius: 50%;
  -webkit-transition: width .3s ease;
  transition: width .3s ease;
}

body .cards .card .button:hover {
  color: #f2f2f2 !important;
}

body .cards .card .button:hover::before {
  width: 0;
}

body .cards .card.card:nth-child(3n-2) {
  background: #e38826;
}

body .cards .card.card:nth-child(3n-2)::before {
  background-image: url("../medias/icon-sedans.svg");
}

body .cards .card.card:nth-child(3n-2) .button {
  color: #e38826;
}

body .cards .card.card:nth-child(3n-1) {
  background: #006970;
}

body .cards .card.card:nth-child(3n-1)::before {
  background-image: url("../medias/icon-suvs.svg");
}

body .cards .card.card:nth-child(3n-1) .button {
  color: #006970;
}

body .cards .card.card:nth-child(3n) {
  background: #004241;
}

body .cards .card.card:nth-child(3n)::before {
  background-image: url("../medias/icon-luxury.svg");
}

body .cards .card.card:nth-child(3n) .button {
  color: #004241;
}

body footer {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  font-size: 10px;
  line-height: 1.5;
  background: transparent;
  color: black;
}

body footer a {
  text-decoration: underline;
}

@media (min-width: 1000px) {
  body .cards {
    max-width: 923px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}
/*# sourceMappingURL=styles.css.map */